{% extends "base/base.html" %}
{% load static %}
{% block maincontent %}
<!-- main content -->

<div class="container text-center">
    <img src="../.././static/media/images/team.png" class="img-fluid" alt="...">
  </div>


  <div class="col-sm-6 offset-sm-3 mt-4 mb-4">
    <h2 class="text-center">Meet the President & CEO</h2>
    <p class="text-center">Jessica Henderson is Chief Executive Officer and Managing Director of TechMe Limited, a $10 Billion global information technology, consulting and business process services company, with 230,000 employees in six continents.</p>
    <div class="text-center">
        <img src="../.././static/media/images/ceo2.png" class="img-fluid " alt="...">
    </div>
</div>

  <div class="container">
    <div class="row">
        <div class="col-sm-6 offset-sm-3 mt-4 mb-4">
            <h2 class="text-center">Our Expert Team</h2>
            <p class="text-center">Our experts, specialized in the global luxury market, are committed to driving your brand forward, anytime and anywhere</p>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-4">
            <div class="card-box text-center bgdark">
                <div class="user-pic">
                    <img src="../.././static/media/images/black.png" class="img-fluid" alt="User Pic">
                </div>
            
                <p>Hello, my name is Pinkal. I am a professional Python Developer with over 4 years of experience. I have much experience in designing Business cards, Letterheads, Logos, and Flyers. </p>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card-box text-center">
                <div class="user-pic">
                    <img src="../.././static/media/images/user-img-2.jpg" class="img-fluid" alt="User Pic">
                </div>
                <p>Hello, my name is Rok. I am a professional graphic designer with over 6 years of experience. I have much experience in designing Business cards, Letterheads, Logos, and Flyers.  </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card-box text-center">
                <div class="user-pic">
                    <img src="../.././static/media/images/user-img-3.jpg" class="img-fluid" alt="User Pic">
                </div>

                <p>Hello, my name is Smit. I am a professional graphic designer with over 6 years of experience. I have much experience in designing Business cards, Letterheads, Logos, and Flyers.   </p>
     
              
            </div>
        </div>
    </div>
</div>




{% comment %} <img src="/.././static/media/images/about" class="img-fluid" alt="..."> {% endcomment %}


<!-- main content end-->
{% endblock %}