{% extends "base/base.html" %}
{% load static %}
{% block maincontent %}
<!-- main content -->


  

  <div class="container text-center">
    <img src="../.././static/media/images/hero2.jpg" class="img-fluid" alt="...">
  </div>


  <div class="container text-center py-5">
    <video class="video w-75" controls="">
        <source src="/static/media/images/video1.mp4" type="video/mp4">
    </video>
</div>


<div class="container text-center pt-4">
  <img class='w-75' src="../.././static/media/images/allpcnew.jpg" class="img-fluid" alt="...">
</div>




<!-- main content end-->
{% endblock %}